<div id="account-changes">
  <% form_tag openid_path, :id => "openid_form" do %>
    <div class="text_field">
      <label for="openid_identifier">
        Open ID <%= link_to_function "Login like a Human", "$('openid_form').hide(); $('email_form').show();" %>
      </label>
      <%= text_field_tag 'openid_identifier' %>
    </div>
    <p id="account-submit">
      <%= submit_tag "Login" %>
    </p>
  <% end %>
  
  <% form_for :session, :url => session_path, :html => { :id => "email_form", :style => "display: none;" } do |form| %>
    <div class="text_field">
      <label>
        Email <%= link_to_function "Login with Open ID", "$('email_form').hide(); $('openid_form').show();" %>
      </label>
      <%= form.text_field :email %>  
    </div>
    <div class="text_field">
      <%= form.label :password %>
      <%= form.password_field :password %>
      <div class="forgot_password">
        <%= link_to "Forgot My Password", new_password_path %>
      </div>
    </div>
    <div class="text_field reminder">
      <%= form.check_box :remember_me %>
      <%= form.label :remember_me %>
    </div>
    <br class="clear"/>
    <p id="account-submit">
      <%= form.submit 'Login' %>
    </p>
  <% end %>
</div>