<% remote_form_for @new_purchase do |f| -%>
  <%= f.error_messages %>

  <p id="new-item-qty">
    <%= f.label :quantity, "Qty." %>
    <%= f.text_field :quantity, :title => "qty", :class => 'prefilled' %>
    <%= autocomplete_field :purchase, :quantity %>
  </p>

  <p id="new-item-name">
    <%= f.label :name %>
    <%= f.text_field :item_name, :title => "name", :class => 'prefilled' %>
  </p>

  <p id="new-item-price">
    <%= f.label :price %>
    <%= f.text_field :price, :title => "price", :class => 'prefilled' %>
  </p>

  <p id="new-item-submit">
    <%= f.submit 'add' %>
  </p>

  <%= f.hidden_field :store_id, :value => @store && @store.id %>
<% end -%>
