<h2>Comparing apples to apples&hellip;literally.</h2>

<ul>
  <li><%= link_to 'Sign In', new_session_path %></li>
  <li><%= link_to 'Sign Up', new_user_path %></li>
</ul>

<div id="map" style="width: 600px; height: 400px;"></div>
<% content_for :javascripts do -%>
  <% javascript_tag do -%>
    var map;
    if (GBrowserIsCompatible()) {
      map = new GMap2($('map'));
      map.setCenter(new GLatLng(<%= USA[:lat] %>, <%= USA[:long] %>), <%= DEFAULT_ZOOM_LEVEL %>);
    }
  <% end %>
<% end -%>

<% content_for :javascripts do -%>
  <% javascript_tag do -%>
    <% @purchases.each do |purchase| %>
      map.add_overlay(<%= GMarker.new([purchase.store.latitude,purchase.store.longitude],
                                       :title => "Cheapest #{purchase.item.name}!",
                                       :info_window => "#{purchase.item.name}<br />#{purchase.price}<br />#{purchase.store.name}<br />#{purchase.store.location}") %>) %>
    <% end %>
  <% end -%>
<% end -%>