<h1 id="corner-logo"><span class="invisible">Where's the Milk at?</span></h1>

<div class="map">
  <div id="map" style="width: 960px; height: 350px;"></div>
</div>

<div id="signin-and-copy">
  <div id="signin">
    <img src="/images/milkman.png" alt="omnomnomnomnom!" id="milkman"/>
    
    <% form_tag openid_path, :id => "openid_form" do %>
      <p id="signin-open-id">
        <label for="openid_identifier">Open ID</label>
        <%= text_field_tag 'openid_identifier' %>
      </p>
      <p class="signin-switcher">or, <%= link_to_function "Login like a Human", "$('openid_form').hide(); $('email_form').show();", :class => "signin-switcher" %></p>
      
      <p id="signin-submit">
        <%= submit_tag "login" %>
      </p>
    <% end %>
    
    <% form_for :session, :url => session_path, :html => { :id => "email_form", :style => "display: none;" } do |form| %>
      <div class="text_field">
        <label>
          Email
        </label>
        <%= form.text_field :email %>  
      </div>
      <div class="text_field">
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>
      <div class="text_field reminder">
        <%= form.check_box :remember_me %>
        <%= form.label :remember_me %>
      </div>
      <p class="signin-switcher">or, <%= link_to_function "Login with Open ID", "$('email_form').hide(); $('openid_form').show();", :class => "signin-switcher" %></p>
      <br class="clear"/>
      <p id="signin-submit">
        <%= form.submit 'login' %>
      </p>
    <% end %>    
  </div>
  
  <div class="copy">
    <ul>
      <li>Don’t you wish you could know which store had the best prices near you?</li>
      <li>Or maybe you like to shop around – where can you get the cheapest cookies?</li>
      <li>Or, maybe, you’re just all like: <strong>“Yo, where’s the milk at?”</strong></li>
    </ul>
  
    <p>Submit the items on your receipts, and, based on all the super-shoppers in your ‘hood,
  find out who’s got the best prices, and where they are. It’s like comparing apples to apples.</p>
  
    <p><a href="/signup.html">Start right now! &rarr;</a></p>
  </div>
</div>

<% content_for :javascripts do -%>
  <% javascript_tag do -%>
    var map;
    if (GBrowserIsCompatible()) {
      map = new GMap2($('map'));
      map.setCenter(new GLatLng(<%= USA[:lat] %>, <%= USA[:long] %>), <%= DEFAULT_ZOOM_LEVEL %>);
    }
    
    <% @purchases.each do |purchase| %>
      map.addOverlay(
        addInfoWindowToMarker(
          new GMarker(
            new GLatLng(<%= purchase.store.latitude %>, <%= purchase.store.longitude %>), 
                        {title : "Cheapest <%= purchase.item.name %>!"}),
                         "<strong><%= purchase.item.name %></strong><br/><%= number_to_currency purchase.price %><br /><%= purchase.store.name %><br /><%= purchase.store.location %>",{}));
    <% end %>
  <% end -%>
<% end -%>