<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Where's the Milk at?</title>
	
  <%= stylesheet_link_tag 'reset', 'main', :media => 'all' %>
</head>

<body class="<%= body_class %>">
  <div id="container">
    
    <div id="header">
      <h1 id="logo"><%= link_to %{<span class="invisible">Where's the Milk at?</span>}, root_url %></h1>
      <div class="copy">
        <p>Hey <%= user_name %>! Isn't grocery shopping swell?</p>
        <ul id="account-menu">
          <li><%= link_to 'Your Account', edit_user_path(current_user) %></li>
          <li><%= link_to 'Log Out', session_path, :method => :delete %></li>
        </ul>
      </div>
      <div id="menu">
        <ul>
          <li id="purchases-index" ><%= link_to 'Receipts', purchases_path %></li>
          <li id="stores-index"><%= link_to 'Stores', stores_path %></li>
        </ul>
      </div>
    </div>

    <div id="content">
      <%= render :partial => 'layouts/flashes' -%>
      <%= yield %>
    </div>

    <div id="footer">
      <p>Copyright 2008 by Chad, Joe, Mike, and Micah.</p>
    </div>
  </div>
  <%= render :partial => 'layouts/javascripts' %>
</body>
</html>
