<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Where's the Milk at?</title>
	
  <%= stylesheet_link_tag 'reset', 'main', :media => 'all' %>
</head>

<body class="<%= body_class %>">
  <div id="container">
    
    <%= render :partial => "layouts/header" %>

    <div id="content">
      <%= render :partial => 'layouts/flashes' -%>
      <%= yield %>
    </div>

    <div id="footer">
      <p>Copyright 2008 by Chad, Joe, Mike, and Micah.</p>
    </div>
  </div>
  <%= render :partial => 'layouts/javascripts' %>
</body>
</html>
